@media all and (max-width : 1289px) and (min-width : 980px){
    .container{
        width: 980px;
    }
    #header .contacts .phone{
    float: right !important;
    width: 51% !important;
    text-align: right;
    }
    #header .contacts .location {
    float: right !important;
    width: 51% !important;
}
    #menu li a{
        padding: 38px 31px;
    }
    #slider {
    width: 873px !important;
    margin-bottom: 1px;
}
    .w34.fl.mb1{
       width: 436px;
    margin-right: 1px;
    }
    #latestNews .item {
    width: 30%;
}
    
    #information .item .pad .text{
        width: 71%;
    }
    #video .text {
    float: right;
    width: 32%;
}
    #cart{
        width: 50%;
    }
    #category{
       width: 46%;
        padding: 0 !important;
        float: right !important;
    box-sizing: border-box;
    }
    #category.plan{
            width: 85%;
    }
    #advantages {
    width: 100%;
    float: left;
}
    #latestNews {
    width: 100%;
    float: left;
}
    #latestNews .item {
    width: 28%;
    margin-bottom: 20px;
}
    #advantages .item {
    margin-bottom: 15px;
    line-height: 18px;
    font-size: 14px;
    width: 50%;
    float: left;
}
    #gallery .box{
        width: 33%;
    }
}

@media all and (max-width : 979px) and (min-width : 768px){
    .container{
        width: 768px;
    }
    #gallery .box{
        width: 50%;
    }
    #logo {
    display: block;
    float: left;
    margin-left: 150px;
    margin-bottom: 33px;
}
    #logo img{
    margin: 0 auto;
}
    #header .contacts {
    float: left;
    width: 100%;
    font-size: 18px;
    font-family: 'Tinos', serif;
}
    
    #header .contacts .phone {
    background: url(../img/phone.png)no-repeat 17% 50%;
    float: left;
    width: 50%;
    padding: 7px 90px;
    box-sizing: border-box;
}
    #header .contacts .location {
    background: url(../img/location.png)no-repeat 34% 50%;
    float: left;
    width: 50%;
    padding: 15px 146px;
    box-sizing: border-box;
}
    #menu li a{
        padding: 38px 16px;
    }
    #slider {
    width: 657px !important;
    margin-bottom: 1px;
}
    .w34.fl.mb1{
       width: 328px;
    margin-right: 1px;
    }
    #latestNews .item {
    width: 30%;
}
    #information .item .pad .text{
        width: 61%;
    }
    #video .text {
    float: right;
    width: 45%;
}
    #cart{
        width: 50%;
    }
    #category{
       width: 46%;
        padding: 0 !important;
        float: right !important;
    box-sizing: border-box;
    }
    #category.plan{
            width: 85%;
    }
    #advantages {
    width: 100%;
    float: left;
}
        #advantages .item {
    margin-bottom: 15px;
    line-height: 18px;
    font-size: 14px;
    width: 50%;
    float: left;
}
    #latestNews {
    width: 100%;
    float: left;
}
    #latestNews .item {
    width: 28%;
    margin-bottom: 20px;
}
    #advantages .item .text {
    box-sizing: border-box;
    padding: 0px;
    float: left;
    width: 86%;
}
    #cart .small img {
    height: 111px;
    width: 111px;
}
        #addOtziv{
    width: 100%;
}
}

@media all and (max-width : 768px) and (min-width : 480px){
    .container{
        width: 480px;
    }
    #logo {
    display: block;
    float: left;
    margin-left: 0px;
    margin-bottom: 33px;
}
    #logo img{
    margin: 0 auto;
}
    #header .contacts {
    float: left;
    width: 100%;
    font-size: 18px;
    font-family: 'Tinos', serif;
}
    
    #header .contacts .phone {
    background: url(../img/phone.png)no-repeat 17% 50%;
    float: left;
        width: 100%;
    padding: 7px 116px;
    box-sizing: border-box;
}
    #header .contacts .location {
    background: url(../img/location.png)no-repeat 34% 50%;
    float: left;
    width: 50%;
    padding: 15px 155px;
    box-sizing: border-box;
}
    #information .item {
    width: 100%;
    float: left;
}
    #cart {
    width: 100%;
        margin-bottom: 20px;
}
    #menu li a{
            padding: 13px 24px;
    }
    #menu li {
    float: none;
    text-align: center;
}
    #slider {
    width: 379px !important;
    margin-bottom: 1px;
}
    .w34.fl.mb1{
       width: 188px;
    margin-right: 1px;
    }
    #latestNews .item {
    width: 30%;
}
    #information .item .pad .text{
        width: 61%;
    }
    #video .text {
    float: right;
    width: 32%;
}
    
    #category{
       width: 100%;
        padding: 0 !important;
        float: right !important;
    box-sizing: border-box;
    }
    #category.plan{
            width: 100%;
    }
    #advantages {
    width: 100%;
    float: left;
}
        #advantages .item {
    margin-bottom: 15px;
    width: 100%;
    float: left;
}
    #latestNews {
    width: 100%;
    float: left;
}
    #otziv .w70, #otziv .w30{
        width: 100%;
    }
    #addOtziv{
    width: 100%;
}
    #about .column {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
    #video .w50{
        width: 100%;
        margin-bottom: 20px;
    }
    #video .text {
    float: left;
    width: 100%;
}
    #otziv .w70.plr20 {
        padding: 0px;
    }
    #otziv .w30 img{
        margin-bottom: 20px;
    }
    #latestNews .item {
    width: 39%;
    margin-bottom: 20px;
}
    #advantages .item .text {
    box-sizing: border-box;
    padding: 0px;
    float: left;
    width: 86%;
}
    #cart .small img {
    height: 90px;
    width: 94px;
}
    #copyright {
    margin-bottom: 25px;
}
    #feedback {
    float: left;
    width: 100%;
}
    #adress, #gallery .boxBig {
    width: 100%;
}
    #service .item{
        width: 100%;
    }
    #gallery .box{
        width: 100%;
    }
        
    h2, .h2 {
    font-size: 30px;
    padding: 35px 0;
    line-height: 27px;
}
    h3, .h3 {
    font-size: 19px;
    margin-bottom: 15px;
    line-height: 21px;
}
}

@media all and (max-width : 479px){
    .container{
        width: 320px;
    }
    #logo {
display: block;
    float: left;
    margin-left: 14px;
}
    .slogan {
    float: left;
    font-size: 11px;
    padding: 0 0 0 15px;
    line-height: 55px;
    font-family: 'Tinos', serif;
    margin-left: 25px;
        border: none;
}
    #logo img{
    margin: 0 auto;
}
    #header .contacts {
    float: left;
    width: 100%;
    font-size: 18px;
    font-family: 'Tinos', serif;
}
    
    #header .contacts .phone {
   background: url(../img/phone.png)no-repeat 84% 50%;
    float: none;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
        margin-bottom: 15px;
}
    #header .contacts .location {
    background: url(../img/location.png)no-repeat 83% 50%;
    float: left;
    width: 100%;
    padding: 2px 0;
    box-sizing: border-box;
}
    #information .item {
    width: 100%;
    float: left;
}
    #cart {
    width: 100%;
        margin-bottom: 20px;
}
    #menu li a{
            padding: 13px 24px;
    }
    #menu li {
    float: none;
    text-align: center;
}
    #slider {
    width: 222px !important;
    margin-bottom: 1px;
}
    #slider .next {
    bottom: 12px !important;
    right: 8px !important;
}
    #slider .prev {
    bottom: 12px !important;
    right: 161px !important;
}
    .w34.fl.mb1{
       width: 221px;
    margin-right: 1px;
    }
    #latestNews .item {
    width: 30%;
}
    #information .item .pad .text{
        width: 100%;
    }
    #information .item .pad .round {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
}
    #video .text {
    float: right;
    width: 32%;
}
    
    #category{
       width: 100%;
        padding: 0 !important;
        float: right !important;
    box-sizing: border-box;
    }
    #category.plan{
            width: 100%;
    }
    #advantages {
    width: 100%;
    float: left;
}
        #advantages .item {
    margin-bottom: 15px;
    width: 100%;
    float: left;
}
    #latestNews {
    width: 100%;
    float: left;
}
    #otziv .w70, #otziv .w30{
        width: 100%;
    }
    #about .column {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
}
    #video .w50{
        width: 100%;
        margin-bottom: 20px;
    }
    #video .text {
    float: left;
    width: 100%;
}
    #otziv .w70.plr20 {
        padding: 0px;
    }
        #addOtziv{
    width: 100%;
}
    #otziv .w30 img{
        margin-bottom: 20px;
    }
    #latestNews .item {
    width:100%;
    margin-bottom: 20px;
}
    #advantages .item .text {
    box-sizing: border-box;
    padding: 0px;
    float: left;
    width: 83%;
}
    #cart .small img {
        height: 72px;
    width: 72px;
}
    #copyright {
    margin-bottom: 25px;
}
    #feedback {
    float: left;
    width: 100%;
}
    #social a {
    margin: 0 0 1px 10px;
    padding: 10px;
}
    #adress, #gallery .boxBig {
    width: 100%;
        min-height: auto;
}
    #service .item{
        width: 100%;
    }
    #gallery .box{
        width: 100%;
    }
        
    h2, .h2 {
    font-size: 30px;
    padding: 35px 0;
    line-height: 27px;
}
    h3, .h3 {
    font-size: 19px;
    margin-bottom: 15px;
    line-height: 21px;
}
}