#slider{
    width: 790px;
    position: relative;
    float: left;
}
#slider .prev:hover, #slider .next:hover{
        background: rgba(255, 255, 255, 0.4);
}

#slider .prev{
    position: absolute;
    bottom: 30px;
    right: 108px;
    border: 2px solid #fff;
    z-index: 999;
    border-radius: 50%;
    font-size: 0px;
    padding: 25px;
}
#slider .next{
    position: absolute;
    bottom: 30px;
    right: 45px;
    border: 2px solid #fff;
    z-index: 999;
    border-radius: 50%;
    font-size: 0px;
    padding: 25px;
}
#slider .next:after{
    position: absolute;
    top: 16px;
    right: 19px;
    width: 17px;
    height: 17px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#slider .prev:after{
    position: absolute;
    top: 16px;
    right: 11px;
    width: 17px;
    height: 17px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    content: "";
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
